{% load bootstrap3 %}

<html>
<head>
  <title>
    {% block titulo %}Blog do Alatazan{% endblock %}
  </title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body>
  <!--Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed"
          data-target="#navbar" arial-expanded="false" aria-controls="navbar">
        </button>
        <a class="navbar-brand" href="{% url 'blog:index' %}">Blog do Alatazan</a>
      </div>
    </div>
  </nav>
  <div class="conteudo">
    {% block conteudo %}{% endblock %}
  </div>
  {% include "rodape.html" %}
</body>
</html>
